<!DOCTYPE html>
<html>
  <head>
    <title>Vellmour Imóveis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <!-- Spotlight.js CSS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/js/spotlight.min.js"></script>
    <link rel="stylesheet" href="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/css/spotlight.min.css">
    
    <%= javascript_importmap_tags %>
    
    <!-- Spotlight.js JavaScript -->
    
  </head>

  <body class="bg-gray-50 min-h-screen flex flex-col">
    <!-- Navbar (renderizada condicionalmente - exceto home/index) -->
    <% unless (controller_name == "home" && action_name == "index") || 
              request.path.start_with?("/admin") %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flash_messages'%>

    <!-- Main content -->
    <main class="flex-grow">
      <%= yield %>
    </main>

    <!-- Footer (apenas em páginas públicas) -->
    <% unless controller_name == "admin" || params[:controller]&.starts_with?("admin/") %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
